body{background-color: antiquewhite;}
h1{
    font-size: 30px;
    color: aqua;
    font-family: cursive;
}
h2{
    font-size: 10px;
    color: blanchedalmond;
}
.big{
    font-size: 70px;
}
.uppercase {text-transform: uppercase;}
span {color: coral;}